* {
  padding: 0;
  font-family: sans-serif;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  color: hsl(0, 92%, 66%);
}

header {
  background-color: hsl(0, 92%, 66%);
}

header nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
}

h2 {
  color: yellow;
}

.kri {
  padding: 1rem;
  background-color: #242525;
  color: white;
  grid-area: header;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 100%;
}

.full-stack {
  background-color: #35382e;
  color: white;
  width: 70vw;
  max-width: 500px;
  justify-self: center;
  border-radius: 2px;
  padding: 1rem;
  margin-left: 470px;
  display: grid;
  gap: 0.5rem;
  align-self: center;
}

.full-stack__title {
  text-align: center;
  color: #face00;
}

highligh {
  color: aqua;
}

.item {
  margin-right: 1rem;
}

.kristina {
  grid-area: header;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
}

.top-element {
  align-items: center;
}

main {
  background-color: rgb(243, 231, 231);
}

.go-to-project {
  background-color: hsl(0, 92%, 66%);
}

.pro {
  margin-left: 650px;
  padding: 20px;
}

.projects {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.swine-meeper {
  border: 1.5px solid gray;
  background-color: white;
}

.lottery-picker {
  border: 1.5px solid gray;
  background-color: white;
}

.ios-stopwatch {
  border: 1.5px solid gray;
  background-color: white;
}

.im1 {
  padding-left: 150px;
}

.im2 {
  width: 100%;
}

.im3 {
  padding-left: 200px;
}

footer {
  background-color: rgb(97, 184, 235);
}

.exp {
  margin-left: 450px;
}

.experience {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  gap: 1rem;
  margin-left: 250px;
  padding-right: 200px;
}

.a {
  border: 1.5px solid gray;
  background-color: whitesmoke;
}

.b {
  margin-left: 90px;
}

.c {
  margin-left: 90px;
}

.back {
  margin-left: 450px;
  color: white;
  background-color: #242525;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #242525;
  color: white;
  grid-area: footer;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}

